<form action="/figures/<%= @figure.id %>" method="post">
  <br>Name: <input type="text" id= "figure_name" name="figure[name]" value="<%= @figure.name %>"></br>

  <br>Titles: <% Title.all.each do |title| %>
    <input type="checkbox" id="title_<%= title.id %>" value="<%= title.id %>" name="figure[title_ids][]"><%= title.name %></input>
  <% end %> </br> <!-- has many titles (through join) -->

  <br>Create New Title: <input type="text" id="new_title" name="title[name]"></input></br>

  <br>Landmarks: <% Landmark.all.each do |landmark| %>
    <input type="checkbox" id="landmark_<%= landmark.id %>" value="<%= landmark.id %>" name="figure[landmark_ids][]"><%= landmark.name %></input>
  <% end %> </br><!-- has many landmarks -->

  <br>Create New Landmark: <input type="text" id="new_landmark" name="landmark[name]"></input></br>

  <br><input type="submit" value="Edit Figure"></br>
</form>
